@import url(./../layout/header.css);
@import url(./../layout/sidebar.css);
@import url(./../layout/main.css);
@import url(./../layout/title.css);

.employespage {
  background-color: var(--color-bg-white);
  padding: var(--padding-18);
  margin: 0px var(--margin-18) var(--margin-18) 0px;
}

/* start css employes controller */
.employespage__controller {
  padding-bottom: var(--padding-18);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.employespage__controller__iconreload {
  height: var(--input-height);
  width: var(--input-height);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: var(--margin-8);
  cursor: pointer;
  border: 1px solid transparent;
}
.employespage__controller__iconreload:hover {
  border-color: var(--color-text-blue);
}
.employespage__controller__iconreload i {
  color: var(--color-text-grey-second);
  font-size: var(--size-text-lg);
}
/* end css employes controller */

/* start css employes table */
.employespage .employespage__table {
  height: calc(100vh - (40px + 92px + 18px + 50px + 18px + 18px + 24px));
  position: relative;
  /* overflow: hidden; */
}
.employespage .employespage__table.pending::before,
#employespage__employeeform.pending form::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-image: url(/assets/loading.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50px 50px;
  animation: pendingRotate 2s linear 0s infinite reverse;
}
.employespage .employespage__table.pending::after,
#employespage__employeeform.pending form::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: transparent;
}
@keyframes pendingRotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.employespage .employespage__table table {
  display: block;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.employespage .employespage__table table::-webkit-scrollbar {
  /* display: none; */
}
.employespage__table .employespage__table__action__dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-blue);
  font-size: var(--size-text-md);
  cursor: pointer;
}
.employespage__table .employespage__table__action__dropdown--toggle {
  padding: var(--padding-8) var(--padding-10);
  margin-left: var(--margin-8);
  border: 1px solid transparent;
}
.employespage__table .employespage__table__action__dropdown--list {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  border: 1px solid var(--color-border);
  background-color: var(--color-bg-white);
  display: none;
  z-index: 1;
}
.employespage__table .employespage__table__action__dropdown--item {
  padding: 12px;
  text-align: left;
  font-size: var(--size-text-sm);
  color: var(--color-text-grey);
  white-space: nowrap;
}
.employespage__table
  .employespage__table__action__dropdown:hover
  .employespage__table__action__dropdown--toggle {
  border-color: var(--color-text-blue);
}
.employespage__table
  .employespage__table__action__dropdown:hover
  .employespage__table__action__dropdown--list {
  display: block;
}
.employespage__table .employespage__table__action__dropdown--item:hover {
  background-color: var(--color-bg-grey-four);
  color: var(--color-bg-green);
}
/* end css employes table */

/* start css employes table */
.employespage__pagination {
  padding-top: var(--padding-8);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.employespage__pagination__left,
.employespage__pagination__right {
  flex-shrink: 0;
}
.employespage__pagination__right {
  display: flex;
  align-items: center;
  gap: 8px;
}
/* end css employes table */

/* start css employespage_employeeform */

#employespage__employeeform form {
  position: relative;
  width: var(--employeeform-width);
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--color-bg-white);
  cursor: default;
  padding: var(--padding-28) var(--padding-28) var(--padding-18)
    var(--padding-28);
}
#employespage__employeeform form::-webkit-scrollbar {
  display: none;
}

/* btn close */
#employespage__employeeform .employespage__employeeform--close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size-text-md);
  background-color: var(--color-bg-white);
  color: var(--color-text-grey);
  transition: color var(--time-transition) ease,
    background-color var(--time-transition) ease;
}
#employespage__employeeform .employespage__employeeform--close:hover {
  background-color: var(--color-border-red);
  color: var(--color-text-white);
}
/* heading */
#employespage__employeeform .employespage__employeeform__heading {
  display: flex;
  align-items: center;
  padding-bottom: var(--padding-10);
}
#employespage__employeeform .employespage__employeeform__heading--titleshow,
#employespage__employeeform
  .employespage__employeeform__heading--titlecreatenew {
  display: none;
  font-family: notosans semibold;
  color: var(--color-text-black);
  font-size: var(--size-text-lg);
}
#employespage__employeeform.showinfo
  .employespage__employeeform__heading--titleshow {
  display: block;
}
#employespage__employeeform.createnew
  .employespage__employeeform__heading--titlecreatenew {
  display: block;
}
/* body */
#employespage__employeeform .employespage__employeeform__body {
  display: flex;
  flex-direction: column;
  /* gap: var(--padding-18); */
}
#employespage__employeeform .employespage__employeeform__body .input__label {
  margin-top: var(--padding-18);
}
#employespage__employeeform
  .employespage__employeeform__body::-webkit-scrollbar {
  display: none;
}
/* footer */
#employespage__employeeform .employespage__employeeform__footer {
  margin-top: var(--margin-28);
  padding-top: var(--padding-28);
  border-top: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.employespage__employeeform__footer {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
#employespage__employeeform .employespage__employeeform__footer__right {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: var(--padding-8);
}
#employespage__employeeform__footer__btncreatenew,
#employespage__employeeform__footer__btnupdate {
  display: none;
}
#employespage__employeeform.showinfo
  #employespage__employeeform__footer__btnupdate {
  display: block;
}
#employespage__employeeform.createnew
  #employespage__employeeform__footer__btncreatenew {
  display: block;
}
/* end css employespage_employeeform */

/* start css employespage__popupnotify */
.employespage__popupnotify {
  width: var(--popupnotify-width);
  background-color: var(--color-bg-white);
  border-radius: var(--border-radius);
  padding: var(--padding-28);
}
.employespage__popupnotify__body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: var(--padding-28);
  margin-bottom: var(--margin-28);
}
.employespage__popupnotify__body__icon {
  height: 70px;
  flex-basis: 48px;
  flex-grow: 0;
  flex-shrink: 0;
  background-image: url(/assets/img/warning-yellow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.popup-warningred .employespage__popupnotify__body__icon {
  background-image: url(/assets//img//warning-red.png);
}
.popup-question .employespage__popupnotify__body__icon {
  background-image: url(/assets//img/warning-question.png);
}
.employespage__popupnotify__body__messenger {
  flex-grow: 1;
  color: var(--color-text-grey);
}
.employespage__popupnotify__footer {
  padding-top: var(--padding-28);
  border-top: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/* start css employespage__popupnotify */
